body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #8ad2f3; 
    margin: 0; 
    padding: 0; 
    
}

#header {
    background-color: #080808;
    color: white;
    text-align: center;
    padding: 10px;
}

#buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}       
#texto-centralizado {
    text-align: center; /* Centraliza o texto horizontalmente */
}


.button {
    background-color: #080808;
    color: white;
    border: none;
    padding: 30px 20px;
    margin-left: 5px;
    cursor: pointer;
}

#footer {
    background-color: #000;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100%; 
    position: absolute;
    bottom: 0; 
}
.imagem-prevencao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Opcional: garante que a imagem não ultrapasse a largura da div  */
    height: 150px ;    
}